In [10]:
# Q1: Write a program to print 1 to n numbers using while loop. (n=user input)
n = int(input("Enter a number:"))
a = 1
while a<=n:
    print(a)
    a = a+1

Enter a number:5
1
2
3
4
5

In [3]:
# Q2: Write a program to print Even and Odd numbers to a number "n"
n = int(input("Enter a number:"))
a = 0
while a<n:
    a = a+1
    if a%2==0:
        print(a,"is even")
    if a%2!=0:
        print(a,"is odd")

Enter a number:10
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [7]:
# Q3: Write a program to print all natural numbers in reverse from n to 1
n = int(input("Enter a number:"))
while n>0:
    print(n)
    n = n-1

Enter a number:10
10
9
8
7
6
5
4
3
2
1

In [12]:
# Q4: Write a program to find factorial of a user
n = int(input("Enter a number:"))
a = 0
b = 1
while n>a:
    a = a + 1
    b = b*a
print("the factorial of",n,"is",b)

Enter a number:5
the factorial of 5 is 120

In [7]:
# Q5: Write a program to check weather the year entered by the user is a leap year or not.
n = int(input("Enter an year:"))

while n>0:
    if n%400==0:
        print("Yes it is a leap year")
        break # break is use to stop the while loop.
    if n%100==0:
        print("It is not a leap year")
        break
    if n%4==0:
        print("Yes, it is a leap year")
        break
    else:
        print("It is not a leap year")
        break

Enter an year:1996
Yes, it is a leap year

In [31]:
# Q7: Write a program to calculate the mean, Variance and Standard deviation.
# Mean
num = [33,56,78,90,34,67] # square brackets "[]" are use to make a list
n_num = len(num)
mean = (sum(num)) / n_num
print("mean",mean)

#Variance
t_num = len(num) # total number of elements
for a in range(t_num):
    
    variance = sum((num[a]-mean))**2 / (t_num -1)
    #a = a+1
    #print(b)
print("variance",variance)

mean 59.666666666666664

TypeError: 'float' object is not iterable

In [35]:
# Q8: Write multiplication table using while loop
n = int(input("number of table:"))
b = 1
while b<11:
    print(n,"*",b,"=",(n*b))
    b = b+1

number of table:4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

358

358